# Local Development
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_WS_URL=ws://localhost:8000

# Production (uncomment for production)
# API v1 versiyonlaması: api.sanayicin.com subdomain'i kullanılıyor
# NEXT_PUBLIC_API_URL=https://api.sanayicin.com/api/v1
# NEXT_PUBLIC_WS_URL=wss://api.sanayicin.com
# NEXT_PUBLIC_BASE_URL=https://api.sanayicin.com
