[Unit]
Description=Gunicorn instance to serve Django Backend
After=network.target

[Service]
User=sanayicin
Group=www-data
WorkingDirectory=/home/sanayicin/sanayicin-app/backend

Environment="PATH=/home/sanayicin/sanayicin-app/backend/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=main.settings_production"
EnvironmentFile=/home/sanayicin/sanayicin-app/backend/.env
Environment="PYTHONUNBUFFERED=1"

ExecStart=/home/sanayicin/sanayicin-app/backend/venv/bin/gunicorn main.asgi:application --workers 3 --worker-class uvicorn.workers.UvicornWorker --bind unix:/home/sanayicin/sanayicin-app/backend/backend.sock

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target