[Unit]
Description=Gunicorn instance to serve Django Backend
After=network.target

[Service]
User=sanayicin
Group=www-data
WorkingDirectory=/var/www/sanayicin/backend
Environment="PATH=/var/www/sanayicin/backend/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=main.settings"
UMask=0007
ExecStart=/var/www/sanayicin/backend/venv/bin/gunicorn --workers 3 --worker-class uvicorn.workers.UvicornWorker --bind unix:/var/www/sanayicin/backend/backend.sock main.asgi:application

[Install]
WantedBy=multi-user.target
