[Unit]
Description=Daphne ASGI
After=network.target
[Service]
User=sanayicin
Group=www-data
WorkingDirectory=/home/sanayicin/sanayicin-app/backend
Environment="DJANGO_SETTINGS_MODULE=main.settings_production"
EnvironmentFile=/home/sanayicin/sanayicin-app/backend/.env
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/sanayicin/sanayicin-app/backend/venv/bin/daphne -b 127.0.0.1 -p 8001 main.asgi:application
Restart=always
[Install]
WantedBy=multi-user.target
